.unitcard {
    width: 200px;
    height: 40px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
        font-size: 24px;
    }

    &-text {
        margin-left: 20px;
        flex: 1;
    }

    &-amount {
        font-size: 20px;
        font-weight: bold;
    }
}