.video {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    margin-right: 20px;
    transition: .3s;

    &:hover {
        transform: translateY(-3px);
    }

    &-thumb {
        width: 100%;
        height: 150px;
        background-color: #999;
        border-radius: 10px;
    }

    &-title {
        padding: 10px;
    }

    &-description {
        padding: 0 0 10px 10px;
    }

    &-nav {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
    }

    &-tag {
        width: 35px;
        height: 20px;
        border-radius: 10px;
        background-color: #ccc;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-options {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

}