.container {
    padding: 80px;
    width: 100%;
    box-sizing: border-box;
}

.category {
    font-size: 20px;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
}

.container-flex {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
}

.input {
    padding: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    flex: 1;
}